# Службові папки Terraform
.terraform/
.terraform.lock.hcl

# Файли стану (тепер вони в хмарі, але про всяк випадок)
*.tfstate
*.tfstate.*

# Файли зі змінними (містять конфіденційні дані)
*.tfvars
vars.tfvars

# Логи
*.log
